<div class="know-more" id="know-more">
  <div class="wrapper">
      <div class="know-more__content" animateOnScroll animationName="know-more__content--animated">
            <span class="know-more__separator"></span>
            <h2 class="know-more__main-title">know more about me</h2>
            <p class="know-more__sub-title">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor. Aenean massa. Cum sociis natoque
              penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
              Nulla consequat massa quis enim.</p>
            <a class="know-more__download" href="../../assets/files/CV_Alekseev.pdf" download=""><button class="know-more__btn">download my cv</button></a>
      </div>
    <img class="know-more__photo" src="../../assets/img/know-more-photo.png" alt="know-more-photo" animateOnScroll animationName="know-more__photo--animated">
  </div>
</div>
