.portfolio{
  padding-bottom: 122px;
  background: var(--grey-background);
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1170px;
  margin: 0 auto;
}

.portfolio__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.portfolio__separator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 126px;
  width: 60px;
  height: 4px;
  background: var(--content-titles-color_grey);
}

.portfolio__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  font-family: "Asap Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 30px;
  font-size: 46px;
  color: var(--content-titles-color_grey);
}

.portfolio__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  width: 31%;
  cursor: pointer;
  z-index: 1;
  position: relative;
}

.portfolio__photo {
  width: 100%;
}

.portfolio__item:hover {
  box-shadow: 0 0 49px 25px rgba(0,0,0,0.15);
}

.portfolio__item:after {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  background: var(--white-background);
  z-index: 10;
}

.portfolio__item:hover::before,
.portfolio__item:focus::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: rgba(0,0,0,0.6);
}

.portfolio__item:hover:after,
.portfolio__item:focus:after {
  width: 54px;
  height: 54px;
  content: url("../../assets/logos/link-icon.png");
}

.portfolio__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 50px;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--main-color_dark-grey);
  font-family: "Asap Medium", sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  color: var(--main-color_dark-grey);
  text-decoration: none;
}

.portfolio__btn:hover {
  border: transparent;
  background: var(--white-background);
  box-shadow: 0 18px 29px 8px rgba(0,0,0,0.1);
}

.portfolio__btn:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

@media (max-width: 1365px) {
  .portfolio{
    padding-bottom: 102px;
  }

  .wrapper {
    width: 960px;
  }

  .portfolio__separator {
    margin-top: 106px;
    width: 52px;
    height: 4px;
  }

  .portfolio__title {
    font-size: 38px;
  }

  .portfolio__item {
    margin: 12px 0;
    width: 32%;
  }

  .portfolio__photo {
    width: 100%;
  }

  .portfolio__item:hover:after,
  .portfolio__item:focus:after {
    width: 46px;
    height: 46px;
  }

  .portfolio__btn {
    width: 170px;
    height: 46px;
    font-size: 15px;
  }
}

@media (max-width: 1023px) {
  .portfolio{
    padding-bottom: 80px;
  }

  .wrapper {
    width: 720px;
  }

  .portfolio__separator {
    margin-top: 80px;
    width: 38px;
    height: 3px;
  }

  .portfolio__title {
    font-size: 30px;
    letter-spacing: 3px;
  }

  .portfolio__item {
    margin: 12px 0;
    width: 32%;
  }

  .portfolio__photo {
    width: 100%;
  }

  .portfolio__item:hover:after,
  .portfolio__item:focus:after {
    width: 36px;
    height: 36px;
  }

  .portfolio__btn {
    width: 150px;
    height: 40px;
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  .portfolio{
    padding-bottom: 80px;
  }

  .wrapper {
    width: 440px;
  }

  .portfolio__separator {
    margin-top: 60px;
    width: 30px;
    height: 3px;
  }

  .portfolio__title {
    font-size: 24px;
    letter-spacing: 3px;
  }

  .portfolio__item {
    margin: 12px 0;
    width: 47%;
  }

  .portfolio__photo {
    width: 100%;
  }

  .portfolio__item:hover:after,
  .portfolio__item:focus:after {
    width: 36px;
    height: 36px;
  }

  .portfolio__btn {
    width: 150px;
    height: 40px;
    font-size: 13px;
  }
}

@media (max-width: 479px) {
  .portfolio{
    padding-bottom: 60px;
  }

  .wrapper {
    width: 300px;
  }

  .portfolio__separator {
    margin-top: 50px;
    width: 26px;
    height: 3px;
  }

  .portfolio__title {
    font-size: 22px;
    letter-spacing: 1px;
  }

  .portfolio__main {
    flex-direction: column;
    align-items: center;
  }

  .portfolio__item {
    margin: 12px 0;
    width: 80%;
  }

  .portfolio__photo {
    width: 100%;
  }

  .portfolio__item:hover:after,
  .portfolio__item:focus:after {
    width: 36px;
    height: 36px;
  }

  .portfolio__btn {
    width: 150px;
    height: 40px;
    font-size: 13px;
  }
}
