<div class="services" id="services">
  <div class="wrapper">
    <div class="services__content">
      <span class="services__separator"></span>
      <h2 class="services__title">services</h2>
      <div class="services__main">
        <figure class="services__item" animateOnScroll animationName="services__item--animated">
          <img class="services__item-photo" src="../../assets/img/user-research.png" alt="User Research">
          <figcaption class="services__item-title">User Research</figcaption>
        </figure>

        <figure class="services__item" animateOnScroll animationName="services__item--animated">
          <img class="services__item-photo" src="../../assets/img/ia-and-wireframes.png" alt="IA And Wireframes">
          <figcaption class="services__item-title">IA And Wireframes</figcaption>
        </figure>

        <figure class="services__item" animateOnScroll animationName="services__item--animated">
          <img class="services__item-photo" src="../../assets/img/user-testing.png" alt="User Testing">
          <figcaption class="services__item-title">User Testing</figcaption>
        </figure>

        <figure class="services__item" animateOnScroll animationName="services__item--animated">
          <img class="services__item-photo" src="../../assets/img/looks-and-feel-design.png" alt="Looks And Feel Design (UI)">
          <figcaption class="services__item-title">Looks And Feel Design (UI)</figcaption>
        </figure>

        <figure class="services__item" animateOnScroll animationName="services__item--animated">
          <img class="services__item-photo" src="../../assets/img/delivery.png" alt="Delivery">
          <figcaption class="services__item-title">Delivery</figcaption>
        </figure>

        <figure class="services__item" animateOnScroll animationName="services__item--animated">
          <img class="services__item-photo" src="../../assets/img/integration-support.png" alt="Integration Support">
          <figcaption class="services__item-title">Integration Support</figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>

