<div class="testimonials" id="testimonials">
  <div class="wrapper">
    <div class="testimonials__content">
      <span class="testimonials__separator"></span>
      <h2 class="testimonials__title">testimonials</h2>

      <div class="testimonials__slider">
        <swiper [config]="config">
          <div class="testimonials__slider-content swiper-slide">
            <img class="testimonials__photo" src="../../assets/img/testimonials-photo%20.png" alt="testimonials-photo">
            <div class="testimonials__main">
              <h3 class="testimonials__slider-title">limara tusi</h3>
              <h4 class="testimonials__slider-subtitle">ceo, random company</h4>
              <p class="testimonials__main-content">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Donec quam felis, ultricies nec,</p>
            </div>
          </div>

          <div class="testimonials__slider-content swiper-slide">
            <img class="testimonials__photo" src="../../assets/img/testimonials-photo%20.png" alt="testimonials-photo">
            <div class="testimonials__main">
              <h3 class="testimonials__slider-title">limara tusi</h3>
              <h4 class="testimonials__slider-subtitle">ceo, random company</h4>
              <p class="testimonials__main-content">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Donec quam felis, ultricies nec,</p>
            </div>
          </div>

          <div class="testimonials__slider-content swiper-slide">
            <img class="testimonials__photo" src="../../assets/img/testimonials-photo%20.png" alt="testimonials-photo">
            <div class="testimonials__main">
              <h3 class="testimonials__slider-title">limara tusi</h3>
              <h4 class="testimonials__slider-subtitle">ceo, random company</h4>
              <p class="testimonials__main-content">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Donec quam felis, ultricies nec,</p>
            </div>
          </div>
        </swiper>
      </div>
    </div>
  </div>
</div>

<div class="testimonials__facts">
  <div class="wrapper">
    <div class="testimonials__facts-content">
      <figure class="testimonials__facts-item">
        <img class="testimonials__facts-photo" src="../../assets/logos/hands-to-work.png" alt="hands to work">
        <span class="testimonials__facts-counter">120</span>
        <figcaption class="testimonials__facts-title">hands to work</figcaption>
      </figure>

      <figure class="testimonials__facts-item">
        <img class="testimonials__facts-photo" src="../../assets/logos/happy-client.png" alt="happy client">
        <span class="testimonials__facts-counter">310</span>
        <figcaption class="testimonials__facts-title">happy client</figcaption>
      </figure>

      <figure class="testimonials__facts-item">
        <img class="testimonials__facts-photo" src="../../assets/logos/finished-project.png" alt="finished project">
        <span class="testimonials__facts-counter">510</span>
        <figcaption class="testimonials__facts-title">finished project</figcaption>
      </figure>

      <figure class="testimonials__facts-item">
        <img class="testimonials__facts-photo" src="../../assets/logos/cups-of-coffee.png" alt="cups of coffee">
        <span class="testimonials__facts-counter">720</span>
        <figcaption class="testimonials__facts-title">cups of coffee</figcaption>
      </figure>
    </div>
  </div>
</div>
