:root {
  --main-color_dark-grey: #4d4d4d;
  --sub-color_light-grey: #909090;
  --content-titles-color_grey: #717171;
  --grey-background: #f6f6f6;
  --white-background: #ffffff;
  --testimonials_font-color: #373737;
  --testimonials-facts_font-color: #363636;
  --contact_title-color: #f0f0f0;
  --contact_separator-color: #c1c1c1;
}
